<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="viewport-fit=cover, width=device-width, initial-scale=1.0" />
    <title>Arithmetic</title>
</head>
<script>
    function handleSubmit() {
        const exp_val = document.getElementById('expression').value
        if (exp_val.length <= 0) {
            alert('Empty expression submitted!')
            return false;
        }
        return true;
    }
</script>

<body>

    <h1>Input operation request...</h1> <br>
    <h3>Please input only numbers and/or +/- signs only.</h3>

    <form action="" method="post" onsubmit="return handleSubmit()">

        {% csrf_token %}
        <input id="expression" name="expression">
        <input type="submit" value="Calculate">

        <br>
        <br>

        {% if success == True %}
        Expression sent: {{expression_sent}}
        <p>Result is: {{ value }}</p>
        {% elif success == False %}
        Expression sent: {{expression_sent}}
        <p>Error is: {{ message }} </p>
        {% endif %}

        <br>

        <a type="button" href="{{ '' }}">Clear</a>

    </form>

</body>

</html>